*.o
A1/q1/webdocs.dat
A1/q1/generated_transactions.dat
A1/q1/output_q1_1/fp5
A3/A3_datasets.zip
A3/A3_datasets/D1/processed/data.npy
A3/A3_datasets/D2/processed/data.npy
A3/COL761_A3.zip
A3/COL761_A3/public_datasets.zip